<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<title>診断フォーム</title>
</head>
<body>
<h1>病気診断メーカー</h1>
<p>採血データを入力すると病気名が診断できます。</p><br><br>
<form th:action="@{/result}" th:object="${diagnoseForm}" method="post">
	<div class="byouki">
		<div class="des">糖尿病診断</div>
		<input type="number" th:field="*{kettochi}" placeholder="血糖値">mg/dL</div>
		<div>
			<input type="number" th:field="*{hba1c}" placeholder="HbA1c">%</div>
		<div>
		<div class="des">高血圧診断</div>
			<input type="number" th:field="*{syusyuku}"  placeholder="収縮期血圧">mm/Hg</div>
		<div>
			<input type="number" th:field="*{kakutyo}"  placeholder="拡張期血圧">mm/Hg</div>
		<div>
		<div class="des">脂質異常症診断</div>
			<input type="number" th:field="*{hdl}"  placeholder="HDLコレステロール">mg/dL</div>
		<div>
			<input type="number" th:field="*{ldl}"  placeholder="LDLコレステロール">mg/dL</div>
		<div>
			<input type="number" th:field="*{tg}"  placeholder="中性脂肪">mg/dL</div>
	
	<div class="button"><p><input type="submit" value="結果表示" /></p></div>
</form>
</body>
</html>