<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SupplementMapper">
	<select id="getSupplement"
		resultType="com.example.demo.entity.Supplement">
		SELECT
			img_path,
			url
		FROM
			disease_master
		WHERE
			disease_name = #{diseaseName}
	</select>
</mapper>
